<!DOCTYPE html>

<html lang="">

<head>

    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <style>background-image:</style>
</head>

<body id="top" >
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="url(https://res.cloudinary.com/dou3n7mh9/image/upload/v1667233924/phoenix/mainimage.jpg);>
        <!-- ################################################################################################ -->
        <div class="wrapper row0">
            <div id="topbar" class="hoc clear">
                <!-- ################################################################################################ -->

                <p class="fl_right nospace"><a class="btn" href="/calneder" style="background-color:#845EC2;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;">Calender</a></p>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
            <header id="header" class="hoc clear">

                <div id="logo" class="fl_left">
                    <!-- ################################################################################################ -->
                    <h1 style="color:yello ;font-size:46px; font-style:italic">>Meet Phoenix </h1>
                    <!-- ################################################################################################ -->
                </div>


            </header>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                 <p style="color:yellow;font-size:35px;">>One destination to all your problems</p>

                 <p style="color:yellow;font-size:35px;">>Managing collge with tech co-curriculars is tough but not anymore!! </p>
                <p style="color:yellow;font-size:35px;">Managing.Built Better </p>

            </article>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3" style="style="background-image: linear-gradient(to right bottom, #f699f0, #ff9abf, #ffaf94, #ffcd80, #e3e98f);">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <section id="services">
                <h6 class="heading font-x3">Categories</h6>

                <ul class="nospace group">
                    <li class="one_quarter">
                        <article><img src="https://res.cloudinary.com/dou3n7mh9/image/upload/v1667233825/phoenix/seminars.jpg" alt="seminar_img" height="300px>
                            <h6 class="heading">Seminars</h6>
                            <footer><a class="btn" href="#">See More</a></footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article><img src="https://res.cloudinary.com/dou3n7mh9/image/upload/v1667233825/phoenix/hiring.jpg" alt="Hiring_img" height="300px>
                            <h6 class="heading">Hiring</h6>

                            <footer><a class="btn" href="#">See More</a></footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article><img src="https://res.cloudinary.com/dou3n7mh9/image/upload/v1667233825/phoenix/compet.png" alt="contest_img" height="300px>
                            <h6 class="heading">Competitions</h6>

                            <footer><a class="btn" href="#">See More</a></footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article><img src="https://res.cloudinary.com/dou3n7mh9/image/upload/v1667233825/phoenix/pos.jpg" alt="posting_img" height="300px">
                            <h6 class="heading">Post Stuff</h6>

                            <footer><a class="btn" href="/login">POST</a></footer>
                        </article>
                    </li>
                </ul>
            </section>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
   
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- Bottom Background Image Wrapper -->

        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

        <!-- End Bottom Background Image Wrapper -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->


        <script src="layout/scripts/jquery.min.js"></script>
        <script src="layout/scripts/jquery.backtotop.js"></script>
        <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>

</html>